/* @import url('../embed/embed.css'); */

.section.media-text-container {
    padding: 0;
}

.section.media-text-container>div {
    max-width: 100%;
}

.media-text .boxed-main-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    position: relative;
    flex-direction: column;
}

.media-text .boxed-left-container {
    width: 100%;
    padding: var(--spacing-xlarge) var(--spacing-small);
    text-align: left;
}

.media-text .eyebrow-text {
    display: inline-block;
    margin-bottom: 25px;
}

.media-text .boxed-content-container {
    word-break: break-word;
}

.media-text .boxed-content-container h1,
.media-text .boxed-content-container h2,
.media-text .boxed-content-container h3 .media-text .boxed-content-container h4,
.media-text .boxed-content-container h5,
.media-text .boxed-content-container h6 {
    margin: 0 0 25px;
}

.media-text .boxed-right-container .embed {
    cursor: pointer;
}

.media-text .boxed-right-container .embed .embed-play-title {
    text-align: center;
}

.media-text .boxed-right-container .boxed-image-container img {
    aspect-ratio: 2 / 1;
    object-fit: cover;
    width: 100%;
}

@media (width <=985px) {
    .media-text .boxed-right-container .boxed-image-container {
        background-image: unset !important;
    }

    .media-text .boxed-main-container.boxed-mobile-reverse {
        flex-direction: column-reverse;
    }

    .media-text .boxed-right-container {
        width: 100%;
    }
}

/* Media Query for Desktop */
@media (width >=986px) {
    .media-text .boxed-main-container {
        padding: 0 var(--spacing-small);
        flex-direction: row;
    }

    .media-text .boxed-content-container {
        width: 49.45%;
    }

    .media-text .boxed-left-container {
        max-width: 1188px;
        margin: 0 auto;
        z-index: 2;
        padding: 95px 0;
        min-height: 545px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .media-text .boxed-right-container {
        inset: 0 0 0 52.8%;
        position: absolute;
        z-index: 2;
        display: flex;
        align-items: center;
    }

    .media-text .boxed-right-container .boxed-image-container,
    .media-text .boxed-right-container .embed {
        background-size: cover;
        width: 100%;
        height: 100%;
        background-position: right center;
        display: flex;
        align-items: center;
    }

    .media-text.image-position-left .boxed-image-container,
    .media-text.image-position-center .embed {
        background-position: left center;
    }

    .media-text.image-position-center .boxed-image-container,
    .media-text.image-position-center .embed {
        background-position: center;
    }

    .media-text.full-image .boxed-image-container,
    .media-text.full-image .embed {
        background-size: contain;
        background-position: top center;
        background-repeat: no-repeat;
        align-items: flex-start;
    }

    .media-text.full-image .embed .embed-placeholder .embed-placeholder-play {
        top: 50%;
    }

    .media-text .boxed-main-container.boxed-content-right .boxed-left-container {
        justify-content: flex-end;
    }

    .media-text .boxed-main-container.boxed-content-right .boxed-right-container {
        inset: 0 52.8% 0 0;
    }

    .media-text .boxed-right-container .embed.embed-is-loaded {
        background-image: none !important;
        margin-right: var(--spacing-medium);
    }

    .media-text .boxed-main-container.boxed-content-right .boxed-right-container .embed.embed-is-loaded {
        margin: 0 0 0 var(--spacing-medium);
    }

    .media-text .boxed-right-container .embed .embed-placeholder img,
    .media-text .boxed-right-container .boxed-image-container img {
        display: none;
    }
}